{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="form-container">
            <h1>Créer une critique</h1>

            {# Afficher le ticket pour lequel la critique est faite #}
            <div class="ticket-card preview-ticket">
                <div class="card-header">
                    <p>Ticket pour : {{ ticket.user }}</p>
                    <p class="date">{{ ticket.time_created|date:"H:i, d F Y" }}</p>
                </div>
                <p class="ticket-title">{{ ticket.title }}</p>
                <p class="ticket-description">{{ ticket.description }}</p>
                {% if ticket.image %}
                    <div class="image-container">
                        <img src="{{ ticket.image.url }}" alt="Couverture du livre {{ ticket.title }}" class="ticket-image">
                    </div>
                {% endif %}
            </div>

            <form method="post">
                {% csrf_token %}
                
                {{ form.as_p }}

                <div class="form-actions">
                    <button type="submit" class="btn-submit">Envoyer</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}